:root
{
    --primary-color: #a94c3a;
    --secondary-color: #dbaa5d;
    --accent-1: #f9f9f9;
    --accent-2: #474749;
}

body
{
    background-color: var(--accent-1);
}

#card-section
{
    width: 300px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    justify-items: center;
    box-shadow: 10px 10px var(--accent-2);
    border-radius: 10px;
}

#card
{
    height: 200px;
    width: 100px;
    background-color: var(--accent-2);
    display: none;
}

#pack
{
    height: 200px;
    width: 100px;
    background-color: var(--primary-color);
}