@keyframes wiggle
{
    25% {transform: rotate(5deg);}
    50% {transform: rotate(-5deg);}
    75% {transform: rotate(5deg);}
}

:root
{
    --primary-color: #a94c3a;
    --secondary-color: #dbaa5d;
    --accent-1: #f9f9f9;
    --accent-2: #474749;
}

body
{
    background-color: var(--accent-1);
}

#card-section
{
    width: 650px;
    height: 830px;
    margin: auto auto;
    background-color: var(--secondary-color);
    justify-items: center;
    box-shadow: 10px 10px var(--accent-2);
    border-radius: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}

button
{
    background: none;
    border-color: transparent;
}

#pack
{
    color: transparent;
    height: 808px;
    width: 553;
    margin: 0 auto;
    background-image: url("media/card-back.jpg");
}

#pack-img
{
    animation-name: wiggle;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
    animation-iteration-count: 1;
}

#pack-img:hover
{
    animation-play-state: running;
}

#card-container
{
    margin-left: 40.5px; 
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: all 0.5s;
    display: none;
    width: 553px;
    height: 808px;  
}

.card-side
{
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#card-back
{
    transform: rotateY(180deg); 
}

#card-container.is-flipped 
{
    transform: translateX(-100%) rotateY(-180deg);
}

.card-img
{
    border-radius: 8px;
}

#moving-card
{
    display: none;
    transition: none;
}

#pile
{
    height: 808px;
    width: 553px;
    background-color: var(--primary-color);
    display: none;
    margin: 0 auto;
    border-radius: 8px;
}