@keyframes wiggle
{
    25% {transform: rotate(5deg);}
    50% {transform: rotate(-5deg);}
    75% {transform: rotate(5deg);}
}

:root
{
    --primary-color: #a94c3a;
    --secondary-color: #dbaa5d;
    --accent-1: #f9f9f9;
    --accent-2: #474749;
}

body
{
    background-color: var(--accent-1);
}

/*   increased height to maintain look with padding */
/*   padding is removed so the credits button and binder can be slightly taller */
#card-section
{
    width: 650px;
    height: 880px;
    margin: auto auto;
    background-color: var(--secondary-color);

/* 	added to center the card packs vertically */
    align-items: center;
	
    box-shadow: 10px 10px var(--accent-2);
    border-radius: 10px;

 /* removed padding so the credits button could be aligned vertically a bit different   
	padding-top: 30px; */

    display: flex;
    flex-direction: row;
	justify-content: center;
}


button
{
    background: none;
    border-color: transparent;
}

#pack
{
    color: transparent;
    height: 808px;
    width: 553px;
    margin: 0 auto;
    background-image: url("media/card-back.jpg");
}

/* Funny adjustment to animation for infinite wiggles */
#pack-img
{
    animation-name: wiggle;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
	
	/* Removed 'play state paused' so one cycle of animation plays automatically on load-in, prevents the thing where it freezes in the middle of an animation when the cursor is not hovering
	
	animation-play-state: paused;
	*/
}

#pack-img:hover
{
    animation-play-state: running;
	
	/* Moved iteration count here so that wiggle only happens during hover and resets when not hovering*/	
	animation-iteration-count: infinite;
		
}

/*Adjusted dimensions to accomodate the binder button*/
#card-container
{
    margin-left: 50px; 
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: all 0.5s;
    display: none;
    width: 553px;
    height: 808px;  
}

.card-side
{
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#card-back
{
    transform: rotateY(180deg); 
}

#card-container.is-flipped 
{
    transform: translateX(-100%) rotateY(-180deg);
}

.card-img
{
    border-radius: 8px;
}

#moving-card
{
    display: none;
    transition: none;
}

#pile
{
    height: 808px;
    width: 553px;
    background-color: var(--primary-color);
    display: none;
    margin: 0 auto;
    border-radius: 8px;
}

/* Credits portion
Will be adjusting things here design wise 
Update: Styles adjusted to make the binder more responsive to screen size changes*/

#credits 
{
	display: none;
	height: 825px;
	width: 75px;
    background-color: var(--accent-2);
	margin-right: 50px;
	border-radius: 8px;
	position: relative;
}

.creditsButton
{
	height: 825px;
	width: 75px;
    background-color: transparent;
	display: inherit;
    margin-right: inherit;
}

#binder 
{
	display: none;
	height: 825px;
	width: 0px;
    background-color: var(--accent-2);
	border-radius: 8px;
	
	transition: width;
	transition-duration: 2s;
	position: absolute;
	right: 8%;
}

.table 
{
    margin: 20px auto;
	width: 70%;
	display: inherit;
	overflow: auto;
}

.creditView
{
	height: 750px;
	width: 20%;
    background-color: var(--primary-color);
	display: inherit;
    margin: auto;
	border-radius: 8px;
	justify-content: center;
    align-items: center;
	
}

.back
{
	height: 100px;
	width: 70%;
    background-color: var(--secondary-color);
	display: inherit;
    margin: auto;
	border-radius: 8px;
	justify-content: center;
    align-items: center;
}

#backButton
{	
	display: none;
}

#cheat-button
{
    width: 100%;
    height: 30px;
    color: #f9f9f9;
}
